name: Testing

on:
  push:
  pull_request:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install git+https://github.com/ray4go/go-ray.git
        pip install .
        rm -r gopylink
        pip install -r tests/requirements.txt
        go get -u github.com/ray4go/go-ray/ray@master

    - name: Run examples
      run: ls examples/*/run.sh | xargs -n 1 bash -e

    - name: Run tests
      run: bash tests/run.sh
